.main {
   /*background:#f2eeeb;*/
   background: #f6f5f5;
   width:100%;
   height:100vh;
}

.App {
  text-align: center;
}

.leftPanel{
  height: calc(100vh);
  width: 70px; 
}

.iconButtons{
  padding-top:5px;
}

.appHeader{
  width:calc(100%);
  background-color:#00345d;
  top:0px;
  left:50px;
  padding: 10px 10px 10px 15px;
  box-sizing: border-box;
  border-bottom: 1px solid #fff;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.treeHeading{
  font-size: 20px;
}

.logo {
  background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAK4AAAAfCAYAAAB+mvY+AAAACXBIWXMAAAsTAAALEwEAmpwYAAAGPGlUWHRYTUw6Y29tLmFkb2JlLnhtcAAAAAAAPD94cGFja2V0IGJlZ2luPSLvu78iIGlkPSJXNU0wTXBDZWhpSHpyZVN6TlRjemtjOWQiPz4gPHg6eG1wbWV0YSB4bWxuczp4PSJhZG9iZTpuczptZXRhLyIgeDp4bXB0az0iQWRvYmUgWE1QIENvcmUgOS4xLWMwMDMgNzkuOTY5MGE4N2ZjLCAyMDI1LzAzLzA2LTIwOjUwOjE2ICAgICAgICAiPiA8cmRmOlJERiB4bWxuczpyZGY9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkvMDIvMjItcmRmLXN5bnRheC1ucyMiPiA8cmRmOkRlc2NyaXB0aW9uIHJkZjphYm91dD0iIiB4bWxuczp4bXA9Imh0dHA6Ly9ucy5hZG9iZS5jb20veGFwLzEuMC8iIHhtbG5zOmRjPSJodHRwOi8vcHVybC5vcmcvZGMvZWxlbWVudHMvMS4xLyIgeG1sbnM6cGhvdG9zaG9wPSJodHRwOi8vbnMuYWRvYmUuY29tL3Bob3Rvc2hvcC8xLjAvIiB4bWxuczp4bXBNTT0iaHR0cDovL25zLmFkb2JlLmNvbS94YXAvMS4wL21tLyIgeG1sbnM6c3RFdnQ9Imh0dHA6Ly9ucy5hZG9iZS5jb20veGFwLzEuMC9zVHlwZS9SZXNvdXJjZUV2ZW50IyIgeG1wOkNyZWF0b3JUb29sPSJBZG9iZSBQaG90b3Nob3AgMjYuMTEgKE1hY2ludG9zaCkiIHhtcDpDcmVhdGVEYXRlPSIyMDI1LTExLTE5VDIwOjUwOjIzKzA1OjMwIiB4bXA6TW9kaWZ5RGF0ZT0iMjAyNS0xMS0xOVQyMDo1MTowMCswNTozMCIgeG1wOk1ldGFkYXRhRGF0ZT0iMjAyNS0xMS0xOVQyMDo1MTowMCswNTozMCIgZGM6Zm9ybWF0PSJpbWFnZS9wbmciIHBob3Rvc2hvcDpDb2xvck1vZGU9IjMiIHhtcE1NOkluc3RhbmNlSUQ9InhtcC5paWQ6YjY5ZDE5YzgtZDZiMy00MTE5LTkxY2EtODI1ZWU1ZjgzYzE5IiB4bXBNTTpEb2N1bWVudElEPSJhZG9iZTpkb2NpZDpwaG90b3Nob3A6MDI1ODIxOTEtZWRlNS0yYzQ3LTllMTItNjgyNjBmMGFmOGE5IiB4bXBNTTpPcmlnaW5hbERvY3VtZW50SUQ9InhtcC5kaWQ6YTEwOTAwM2EtNmM2My00YWExLWE2NTYtYWQxMTg3M2U5MTEzIj4gPHhtcE1NOkhpc3Rvcnk+IDxyZGY6U2VxPiA8cmRmOmxpIHN0RXZ0OmFjdGlvbj0iY3JlYXRlZCIgc3RFdnQ6aW5zdGFuY2VJRD0ieG1wLmlpZDphMTA5MDAzYS02YzYzLTRhYTEtYTY1Ni1hZDExODczZTkxMTMiIHN0RXZ0OndoZW49IjIwMjUtMTEtMTlUMjA6NTA6MjMrMDU6MzAiIHN0RXZ0OnNvZnR3YXJlQWdlbnQ9IkFkb2JlIFBob3Rvc2hvcCAyNi4xMSAoTWFjaW50b3NoKSIvPiA8cmRmOmxpIHN0RXZ0OmFjdGlvbj0iY29udmVydGVkIiBzdEV2dDpwYXJhbWV0ZXJzPSJmcm9tIGFwcGxpY2F0aW9uL3ZuZC5hZG9iZS5waG90b3Nob3AgdG8gaW1hZ2UvcG5nIi8+IDxyZGY6bGkgc3RFdnQ6YWN0aW9uPSJzYXZlZCIgc3RFdnQ6aW5zdGFuY2VJRD0ieG1wLmlpZDpiNjlkMTljOC1kNmIzLTQxMTktOTFjYS04MjVlZTVmODNjMTkiIHN0RXZ0OndoZW49IjIwMjUtMTEtMTlUMjA6NTE6MDArMDU6MzAiIHN0RXZ0OnNvZnR3YXJlQWdlbnQ9IkFkb2JlIFBob3Rvc2hvcCAyNi4xMSAoTWFjaW50b3NoKSIgc3RFdnQ6Y2hhbmdlZD0iLyIvPiA8L3JkZjpTZXE+IDwveG1wTU06SGlzdG9yeT4gPC9yZGY6RGVzY3JpcHRpb24+IDwvcmRmOlJERj4gPC94OnhtcG1ldGE+IDw/eHBhY2tldCBlbmQ9InIiPz6yYF/kAAAP2ElEQVR4nM1cCbQcRRW9r2b+T0J2whIwEPZFSYAgAUQW5aB42AQkYDREFhGUTUBEgkhYgiJrBBFQQFkVPYCgKCgRAUVEIAQIe6IQhEBIAuFn+9PP83pu5/f0VPV0zw/IzenzJ9Mz3dVVb7lvqRFVRUH0BbAagCF8XeX73QCWAlgAYB6ALpTHMAA7AujP6wmv/xqAfwBY3MY11wawA4DO1DU7ALwI4DEAy1Of3QDAF3ne3l/C57DXiwBMA/BGG2Ow+foagFU5BoNN+DJe+yYAL7Vx3U4A6wLYBMCWADYDsCbffw/AKwBm8jnt9RwAtSIX/uPc6djjockY3MeWuT5rqoLI2XIoJIogEKiz9wFRHQJxwxUYBNVhKrKqiFYR2RzKPDjMh+rbqvq6iCxWqS+EfVlUIJEmF+qRqBScApG4VVVlCxUZqNCXodELno82YV0KwLYAtuIiD6bwgkL7LoDZAJ6goP2N/y8Km/ifUynSeBjAFzjxZbE9gF/Zs2fev5nClBZcwx4APhm41jUAjqcQF4XN7akATgqc/y+AO0pcL7nmGAB7Afg8gFEtPm8K+E8AvwPwBwBPUnFWBtYHsBtEdgbwcQhGQGRgLJQmmj2z/nZsLEQeAnAfAPs7v+hNFFhTIVNUZDxlbiYgl+YJ7ioADgQwAcCnabFCnxtKAd+ZE/MQrcktBQfZTaHICq4pRbuIaKnNiqfRxXNpvAzgOAC3ARjpudahAGYAuKTE/Q8AcGzgnC3mYRSkohgO4HCOZcOC37GF3onHIQCuB3AdgNfRPlZRwf4AjoLIjgW0YFWIjBVgrCqOhurtEFxFL9YIM77SIGYuEnccIDZXMQSyOSDnZK1RgnUAnA/gJ7FWhYXWB6HluhTAZQA2LfCdmscCggLWroVQj4CC9/G5zccBTApQHXum0wHsUvDe5r7Po+v2jesC88oojo8CuBLAOSWE1neN83idrdEe1oDgbBW5QiFG7UpBBH1F5GB612MA9GmYlZpAUYHCJccgQMY0Xwj9fYJrgmYa8Y0UHWgHxhfHU8O3a/HZKCBk7we6c5ThVgA/zuHhF1Gp82De5/t0pXn3KKqQ25Kq7IOVg30oOOYdy2AEgKkq7kQAA3o3BFkH4i6E4MwGj6gKpxHEGYsWiIjFAgs9F6hkBXdjWlnjeysLxjV/ygX4sAvuMgrdvYHzpv3ntlDob+fMn9GNyYHF8GE0hbyV4pfFKFreZmvmx2qAXgzgIKw8dKrIySpiXq6HsnZHkFqUcOQuEdwoEgf9K6CQ+6qZCPiHAHbNudlyutRZ5KSO37OJWC/ne1uQOnwFwPOe81HRqHcloNV9bJImketa1J7FQeSm5u6zOJiBnw9vAfgegGcKjtOyBFPiwCcfTzIYtnmdS083gkJpNG9QTkB8AbMpeRmTPhA5m0FyANIF6DQoZkJ0AeLUgQwCdCSVLiQbVa3ICVCZLarm5WNoTeOshZkXEdwNyESBHqjGl1UeUbgbE8E1C3ICgL1zHsCi0suZYumiACQppoEcoJHozwS+v0Mqyp7/IbW4CSwSNzc2lYqZhvHWk5lWuz31/lh+JxtgJkGmBXZ3lhjnkQA+l3P+EcYQ0zifXannqlJgNyOXNGXz0cJPATiRipqk6xqgcIdF4iaGh+HuF8VkFZ1BY5bMb0eSQhVgfwW+Hgh8+2nVTUZNn9D6MwHOcnC8v9r11LIif4nnXnShQxS5lFAdG3g4u4S5iS8DuIu51QVMgb1DC2Wpr18CGAfguzlpI7vGfv9ni1tUQYyLXhVYULOGZ6dcrVmUC3MC0V+TH3uFI0CvDg2sRzeAKwDsC+AGAK8yd6uZz7xNS3wUgFNy1mRiAxWxqN5VEbkKas6NikTs+/083zN/fi1UxkFi5XmL6bduruUSyokp+EUQ7C8SZ5t8GK6uMgli1r3h/SrTr2MYlJonGQ3oGEdyPD7gUiK6kzMooK2wkJHrtzhxWZgWfskT4HyQFrdWMDDqJt/9bQ79Mb66DSlAKAdsee3TShRRhAHU+oGxXwbgm0xpFXmOd2h4JpHD+5TwYK5NZhxuL0AsG5GFOfEbVHGM1OlJkbl8TEQnitN7vJ8Qs/7yWRcB0iMJQ2gIf0+jaYdZ31tMcDfKId2/4eKVSbzXSPynBCzMLp6I9v0QXAmk8YpQhQTv0v1bYcWH3TmRxhNDRQajR/9BcWycE9z9mQu5FOUQMZPwi8Cz70M5SGMtPl9jrj+eUfcAoupp5auk8pIIToJguufkQIgcGefBemCvP0LlWoe1AquIruUY7RtHzWI2I2if5WwFpZs1XpxFhQnxAR+A4IYCzDK54RlUQnN7WfThpPbkI3uwlEpv3KwMNmIe2He9KSWNSNYb3hCoQg5vyu0KNoLEbroRioWqxv0jXqfYVMZ1BSvrAk9J3bB5lE+2gpPN6h+OEZFyNI3CkaD7cA0XrV0sYqXGx13HUKNXDCQguCGr+UEKbsJ3jVeWgXkrW6AycMzQ+LjtvSyB9waWgfh7wJiM7bmvWlC0JTQW6CzuB6I7VWxZo/o/jYotgiaZAr1DRGd6PjxQRcYUWXEbqI/DmHX5ay+toA3zUQZzWYxk40mCWkDA2xXaZDF8YyoaIGVxfsCD+PAi+W9Zl25eaPPAuT8FqotlMJ/pTN9cWfDTN9ZoVacaU5asJ1nOfgMfV26GKMTxaLQVrwFiZfYsOtTJMPt0EcG1hpksni7Jy0LoYtSbxaBMEr87sCiVXghvh0d4axSmdsrICxh0Plfgc2cG8tWt0I/Uw4fnVhKdejMw10NSAVrSCZjFIgGet2xV9mhyjRRaFf8B0Wc8RsT49ICiFtdXBZpbpoMnB8sYoGTRkSH9IY7r2hRcybReItOC2S6eygnUErzCKLgdVAJ8GW22dobWpDuwJnXDqNIR6LNYCtW5cRui74i7ZOp8Nr6QZVtDh8ornmdygdRbE9z7nIZaGuhEqmSsYajJxiYw1AjUCoM8gru8l4K7T4vKYkKDrKuuHdRyBLSX/QEr0NeT+urh/vUgyppufdStoiqd1p/rP+wjJAWxHGve8aaHcjiodPYoQhgukNJYk00lvUWNeUQfOjKT5hNcn9UsAuH4s9a6uxeWawxL4iFXnlaYySy3lkVXICYAY5F2lTiN1QNzunCFJRYsFmCBx9X1E9F1xWhA9siwr1iQ85ylxsF7VjmsZNZZhMi5QJ36YzndTWXQnZPrcwUs7uAc15kHYb4vi2Vt7tBYi8GZr3fBh+FM+pedQ1vM5mi7jt172a2XCK0VTLIwr2vBUlcsauK6RTDLnH3mc/3Vvh8pNIriwzIKcf21sY+2QYBXEOD04VZU2Roh6LCe3FYBmt2yXh9uFpidehnVx+POcc3O0/Tts14+AWyFzkBdPNmtUQaOlbFQ2jCEURT2bCN7q/l6OqDEVrT5RMkx+MZkaa8sutmfUZcXe2KH6ZAmmme9hru1aKhqgkbiO0KFoGpixfNgQ7w/cO6QEm1vwTHnpJ9cAUoxJCevmYft6DV8EX+ZoNOxzj8hMIZ/M1ftS+2A22vODKTmQrBsxL887/dhFa4/2sMgVvisEpXFvMagMw6ynoV6M0uj1MnEtoxaI8cNSWa1SPreMa/nKzSsx97SNUoPMDXUnOaZ9GIuD6TNwP1VrXhldivR0XTXWVgka0FBUYxjJ5hdMwtzdT+igp8ZULwqu7wOL7HQ1jLqr+fXt1BNaoM+VdiPYn0iPlgPwAvxKyYH4nFIXPXLCliHAkcIZK96LswyBAVHYawhyetaptgDjaQS1VxslVsJrgUDVwfOH8hAwycERRHKWriM4D7GLiffYp0ayCtmYakUq6HbnigfppewuDtyq4wvSK2xxdM6wkCre26AFg2iYIfaPX24nUWMLIS55NMzBZw89Gen2bmBVNMCbiBdsmJbbWcNrqOGSkftVhFtGoeIjFAn9ux7lvMmFnutOPzbskQ7YCwi1WkTEp4a+0R97slwFLvwt2nDZRe1uKDg+povwI2MF7EjK6SKG1BATglEza+xbFqk+rQpg6sNc0rAZ2XeuzCnLJwEdzb+Inicu0Z8NKtKwb2CyuXr/wW9xNYU2Kk5gm7tqA94z4g+Bqcm1M1SJLIxxF3LPu7CQWg6S+a9JbTi4o07+aimGmrOYQeRr71xPwru9ax1J/24ixmpL0kltiNanlal1azgvsHF2ibgCiewb/gm1uznUSmGMlU0vsUWl5vZYtgKwyiEoa1G0+gBstSgRmEeGeg5Hs2mG2u2L9IKeA0Fc+8cGrMbN12aS59Dpawye7A9G9HzAqkn2LbauFYpoXKiV0WiY1XF17G2ukDs+wcAehck5ufvURaWZv4u57m3co2HSGcRUpW2TGZ1L2AE7TP/66Z6Ot+i8L6X+vGMZIBRait3XieTrxx7C62SdeWHOqfOoMK8zglfI1C2TuMeWtBWOdx+VGBzgT48y4Z7C8p8mM+xD6eSZbEnreUpga6nNN5kC+OInF25w6iw4zn/S5kfL1J9eo27URqoQGzr7Ic6zJ0bHOY40VNqy2VEjsfYQUXqz6vxHNs40n+XUFhnscMtb1t+Je7ZiXf/FBPcGhd3cM6PWCSpprVbpKk2JW/OE1xfSXExdxYMJS8LoV8J9/Qwha3Vj4o4UpKv5gjS8UxX5WE23adZ+Oa2QOAI9h0YR26F6RzT5bTYeehTImhLxmgNM0UwAyL2mwhXBpqyeiDx2vSDkMI0Ct8GCrk6LlZoIKRTVFFTiXep50hulrMuYjB2Vi87kd4pUEquBDhz0sxiu417i2kUlCINL+Z6vxPwNt3MsISi/Swe4TP4Mg39yMWL7qR+kFmJokJWRJGPaONXdB50YpsW4/G0i3cLyFVVHFyetUVAcN7l9pvDCnRC9Qa+enmCeRSUk9r81ZXFTFUdWsBCgtz4BzmU4zzy+zK4ja7eh9VIpWwzYxFYe+hEGpQ5aA/vkLsfwp0U7cDGMUEgV7VZgWwNYyoVqWR+0aYJoSzBEnbLjyMn8aVmisLlUAVpMdFT+VNGlwS6zHz19us57lNzuGgamzBCNw4fCpIubqOPV0mXTCFCdOrSEqnGV5khGEc6VXSb+0vMyOxLRarna9uH0YyTHeQggVwjKq+XlIXEo9Xrc83oK2Z1668rgTJ3/BN8eXiStfPrGO1bk/PGjJyHMeVS5Q2Sv6swSEs4TJJxsL9J7m5Awa60bu5UtVTZzxgpj+Y4VuP95nExZjDjMTOQD/ahD7neqFQO1saXFD7vJnVqt8VzMRtzhjOASlKDwvvsSq9g2YYiafxlnI9HmQGycdtha2LBk829zbMpudEj8zaWWrPCS6tgsAzMK1vRwrIZphSbAbIeoPacawIyFFAbiwmdzbHRI1svC+pjSy3QLoWYYUkyU/WfOogwCzV1dSIpNmZ7XpOtRKbs9ZL/AX2Gz1QN/i9SAAAAAElFTkSuQmCC) no-repeat left center;  
  width: 123px;
  height: 21px;
  margin-top: 6px;
  background-size: cover;
}

.dashboardPanel{
  width: calc(98%);
  min-height: 100vh;
  box-sizing: border-box;
  float: right;
}

.flexRow{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.flexAround{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 100%;
}

body {
  background:#f6f5f5;
  margin:0px;
}

.navMenu {
  list-style-type: none;
  padding:10px;
  position: fixed;
  top:100px;
}

ul.navMenu li {
  color: #525252;
  margin-left: 10px;
  height: 60px;
}

ul.navMenu li:hover {
  color: #000;
}                                                            

ul.navMenu li:first-child{
  color: #fff;
  font-size: 10px;
  padding:0px;
  margin-left: 6px;
}

ul.navMenu li .iconItem{
  background:url(images/folder.png) no-repeat right top;
  width: 25px;
  height: 25px;
  opacity: 0.8;
  background-size: cover;  
  margin-left:5px;
}

ul.navMenu li:hover .iconItem{
  opacity: 1;
}

.contentBar{
  width: 70%;
}

.addAction{  
  background-color: #0b6ec5;
  width: 38px;
  height: 38px;
  border-radius: 50%;
  text-align: center;
  font-size: 30px;
}

.searchBtn{
  background-color: #1d1d1d;
  color:#fff;
  font-size: 14px;
  border:none!important;
  margin-top:5px;
}

.btn{
  background-color: #00345d;
  color:#fff;
  font-size: 18px;
  border:none!important;
}

.btn2{
  background-color: #00439d;
  color:#fff;
  border:none!important;
}

#search_query{
  width:400px;
}

#search_query::after {
  content: '\f52b\f52b';
  position: absolute;
  left:0px;
  top:0px;
}

.sideBar {
  width:23%;
}

.curvedPanel{
  background-color: #fff;
  border-radius: 30px;
  border:1px solid #dfdfdf;
  padding:0px 20px 0px 20px;
}

.margin-top-20{
  margin-top:20px;
}

.padding-20{
  padding:20px;
  box-sizing: border-box;
}

.fullWidth {
  width:100%;
  min-height: 100px;
  clear: both;
}

.topNavigation ul {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  padding: 0px;
  margin: 0px 10px;
}

.topNavigation ul li{
  float:left;
  margin-right:50px;
  margin-top:8px;
  padding-left:10px;
  font-size: 14px;
  color:#494949;
}

.topNavigation{
  width: 100%;
  height: 35px;
  border-radius: 0px 0 0 0;
  border-bottom: 1px solid #e1e1e1;
}

.iconMenu{
  font-size: 24px;
}

.css-1mbxq6w-MuiTreeItem-label{
  font-size: 15px!important;
  padding: 3px;
  font-family: unset!important; 
  font-weight: unset!important;
}

.workspaceGraphic{
  background: url(images/tree.png) no-repeat center top;
  width:100%;
  height: 160px;
  background-size: contain;
}

.flexStart{
  justify-content: flex-start!important;
}

.css-jq3mgl-MuiTreeItem-root{
  width: 100%;
}

.codeBlock{
  background:rgb(245 245 245);
  border:1px solid rgb(228 228 228);
  padding:10px;
}

.textInfo{
  font-size:15px;
  border-radius:10px;
  margin-right:10px;
}

.codeEditor{
  background-color:#000;
  padding:10px;
  box-sizing:border-box;
  height:132px; 
  color:#fff;
  border-radius:10px;
  border: 0px;
  width: 100%;
  font-size:15px;
  font-weight: 100;
}

.borderBottom{
  font-weight: 300;
  font-size: 18px;
}

.chat-container {
  display: flex;
  flex-direction: column;
}

#textBox {
  transition: all 0.3s ease;
}

        .messages-section {
          flex: 1;
          overflow-y: auto;
          padding: 0px 16px;
          scroll-behavior: smooth;
          margin: 0px 0px;
          width: 95%;
        }

        .messages-container {
          margin: 0 auto;
          display: flex;
          flex-direction: column;
          gap: 20px;
        }

        .empty-state {
          text-align: center;
          margin-top: 120px;
          color: #6b7280;
        }

        .empty-state h1 {
          font-size: 28px;
          font-weight: 600;
          margin-bottom: 8px;
          background: linear-gradient(135deg, #667eea 0%, #764ba2 100%);
          -webkit-background-clip: text;
          -webkit-text-fill-color: transparent;
          background-clip: text;
        }

        .message-wrapper {
          display: flex;
          animation: slideUp 0.3s ease-out;
        }

        @keyframes slideUp {
          from {
            opacity: 0;
            transform: translateY(12px);
          }
          to {
            opacity: 1;
            transform: translateY(0);
          }
        }

        .message-wrapper.user {
          justify-content: flex-end;
        }

        .message-wrapper.ai {
          justify-content: flex-start;
        }

        .message-bubble {
          max-width: 75%;
          padding: 12px 16px;
          border-radius: 18px;
          word-wrap: break-word;
          white-space: pre-wrap;
          line-height: 1.5;
          font-size: 15px;
        }

        .message-bubble.user {
          background: linear-gradient(135deg, #667eea 0%, #764ba2 100%);
          color: white;
          border-bottom-right-radius: 4px;
          box-shadow: 0 2px 8px rgba(102, 126, 234, 0.4);
        }

        .message-bubble.ai {
          background: white;
          color: #1f2937;
          border: 1px solid #e5e7eb;
          border-bottom-left-radius: 4px;
          box-shadow: 0 1px 3px rgba(0, 0, 0, 0.08);
        }

        #queryText {
          outline:none;
        }
      
         #queryText:focus {
            /* Change the border color */
            border-color: #007bff;
            /* Add a box shadow for a glowing effect */
            box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
            transition: all 0.2s ease;
         }

        .input-box {
          display: flex;
          align-items: flex-end;
          border-radius: 24px;
          outline: none;
          transition: all 0.2s ease;
          width: 98%;
          margin:0px auto;
        }

        .text-input {
          flex: 1;
          border: none;
          outline: none;
          padding: 12px 16px;
          font-size: 15px;
          font-family: inherit;
          background: transparent;
          resize: none;
          max-height: 200px;
          line-height: 1.5;
        }

        .text-input::placeholder {
          color: #9ca3af;
        }

        .send-btn {
          background: linear-gradient(135deg, #667eea 0%, #764ba2 100%);
          color: white;
          border: none;
          border-radius: 50%;
          width: 36px;
          height: 36px;
          display: flex;
          align-items: center;
          justify-content: center;
          cursor: pointer;
          transition: all 0.2s ease;
          margin: 4px;
          flex-shrink: 0;
        }

        .send-btn:hover:not(:disabled) {
          transform: scale(1.05);
          box-shadow: 0 4px 12px rgba(102, 126, 234, 0.4);
        }

        .send-btn:active:not(:disabled) {
          transform: scale(0.95);
        }

        .send-btn:disabled {
          background: #e5e7eb;
          cursor: not-allowed;
          opacity: 0.5;
        }

        .hint-text {
          text-align: center;
          font-size: 12px;
          color: #9ca3af;
        }

        .messages-section::-webkit-scrollbar {
          width: 8px;
        }

        .messages-section::-webkit-scrollbar-track {
          background: transparent;
        }

        .messages-section::-webkit-scrollbar-thumb {
          background: #d1d5db;
          border-radius: 4px;
        }

        .messages-section::-webkit-scrollbar-thumb:hover {
          background: #9ca3af;
        }